<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubt.mainmodule" >

    <uses-permission android:name="android.permission.CALL_PHONE" />

<application>
    <activity android:name=".user.profile.edit.UserInfoEditActivity"
        android:launchMode="singleTop"
        android:screenOrientation="landscape"
        />

    <!--FileProvider共享文件-->
    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="com.ubt.mainmodule.user.profile.edit"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/main_file_paths"/>
    </provider>
</application>
</manifest>
